<!DOCTYPE html>
<html lang="en">
<head>
    {% include './app-meta.html' %}
    <link href="/dist/css/fonts.css" rel="stylesheet">
    <link href="/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/src/docs.css" rel="stylesheet">
    {% block head_extra %}{% endblock %}
    <script src="/assets/js/vendor/jquery.min.js" defer></script>
    <script src="/dist/js/bootstrap.js" defer></script>
    <script src="/assets/js/docs.min.js" defer></script>
    <script src="/assets/js/ie10-viewport-bug-workaround.js" defer></script>
</head>
<body {% block body_attributes %}{% endblock %}>
{% block body %}{% endblock %}
{% block scripts_extra %}{% endblock %}
</body>
</html>
